---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import ListPost from '../components/ListPost.astro';

interface Frontmatter {
	title: string;
	slug: string;
	description: string;
	date: string;
	tags: string[];
}

const pageTitle = "Lee Aplin";
const posts = await Astro.glob<Frontmatter>("./posts/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container mx-auto max-w-screen-md font-mono">
			<Header />
			<div class="post-list mb-20 px-5 sm:px-0">
				{
					posts
						.sort((a, b) => 
							Date.parse(b.frontmatter.date) - 
							Date.parse(a.frontmatter.date)
						)
						.map((post) => (
							<ListPost 
								title={post.frontmatter.title}
								description={post.frontmatter.description}
								href={`/posts/${post.frontmatter.slug}`}
								date={post.frontmatter.date}
								tags={post.frontmatter.tags}
							/>
						))
				}
			</div>
			<Footer />
		</div>
	</body>
</html>
